@charset "UTF-8";
/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* 컨테이너 스타일 */
.container {
    margin: 20px;
}

/* 포스트 그리드 스타일 */
.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개의 게시글 */
    gap: 20px; /* 각 게시글 사이의 간격 */
}

/* 게시글 스타일 */
.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.post img {
    max-width: 100%; /* 이미지 크기 조정 */
}

.post h2 {
    margin-top: 10px;
    font-size: 18px;
}