@charset "UTF-8";
/* bodyProfile.css */

/* 전체 페이지 스타일 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* 헤더 스타일 */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

header h1 {
	margin: 0;
}

/* 내비게이션 스타일 */
.navigation {
	background-color: #444;
	padding: 10px;
	text-align: center;
}

.navigation button {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 5px;
}

/* 컨테이너 스타일 */
.container {
	margin: 20px;
}

.container h2, p {
	text-align: center;
}

/* 바디프로필 디테일 스타일 */
.body-profile-details {
	background-color: #f9f9f9;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	
}

.body-profile-details h2 {
	color: #333;
}

.body-profile-details p {
	color: #666;
	line-height: 1.6; /* 줄 간격 조정 */
}

/* 푸터 스타일 */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
/* 이전버튼과 다음버튼 */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh; /* 화면 전체 높이를 기준으로 가운데 정렬 */
}

.navigation-buttons {
	display: flex;
	justify-content: center; /* 가로 방향 가운데 정렬 */
	margin-top: 20px; /* 이전/다음 버튼과 본문 사이 간격 조정 */
}

