/* 전체 페이지에 대한 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header, footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: white;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #007bff;
    padding: 10px 0;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.navigation button:hover {
    background-color: #0056b3;
}

.container {
    padding: 20px;
}

.body-profile-details, .comments-section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}

.comments-section h3 {
    margin-top: 10px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.comment p {
    margin: 0; /* 댓글 내용 간격 제거 */
}

.comment:last-child {
    border-bottom: none; /* 마지막 댓글의 밑줄 제거 */
}

.comments-section form {
    margin-top: 20px;
}

.comments-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comments-section input[type="submit"] {
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.comments-section input[type="submit"]:hover {
    background-color: #0056b3;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-outline-dark {
    cursor: pointer;
    padding: 10px 20px;
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    margin: 0 5px;
}

.btn-outline-dark:hover {
    background-color: #007bff;
    color: #fff;
}

/* 미디어 쿼리를 사용한 반응형 디자인 */
@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
}
.body-profile-actions {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이 간격 조절 */
    margin-top: 20px; /* 상단 마진 */
    margin-bottom: 20px; /* 하단 마진 */
}
.body-profile-details img {
    margin-bottom: 10px;
}